<h1>Manufacturer's details: </h1>
<div class="contacts detail">

<h2>Name: <span>{{ manufacturer.manufacturer.name }}</span></h2>
<h3>Id: <span>{{ manufacturer.manufacturer.id }}</span></h3>
<!-- <h3>Industry: <span>{{ manufacturer.manufacturer.industry }}</span></h3>
<h3>Phone: <span>{{ manufacturer.manufacturer.phone }}</span></h3>
<h3>Email: <span>{{ manufacturer.manufacturer.email }}</span></h3>
<h3>Address: <span>{{ manufacturer.manufacturer.address }}</span></h3> -->

<br>
<br>
<button type="button" name="button"   ng-click="manufacturer.productsByManufacturers(manufacturer.manufacturer.name)">Search products</button>

<button type="button" name="button"   ng-click="manufacturer.editDetailManufacturer(manufacturer.manufacturer.id)">edit</button>

<button ui-sref="main.manufacturers">back to manufacturers</button>

<div class="">
    <ui-view></ui-view>

</div>
</div>
