<div class="manufacturerForm">


<h1><span ng-if="manufacturer.isAddMode()">Add</span> <span ng-if="manufacturer.isEditMode()">Edit</span>  manufacturer:</h1>
    <form name="manufacturerForm" method="post" ng-submit="manufacturer.saveManufacturer(manufacturer.id)">

        <input type="text" name="ManufacturerName" value="" placeholder="Manufacturer name" ng-model="manufacturer.manufacturer.name" ng-required>
        <br>

    <br>
    <br>

        <button type="submit" name="name" value="save changes"  ng-disabled=" manufacturerForm.$invalid">Save</button>

         <button ng-if="manufacturer.isEditMode()" ui-sref="main.manufacturer.detail">Cancel</button>
         <button ng-if="manufacturer.isAddMode()" ui-sref="main.manufacturers">Cancel</button>

    </form>
</div>
