<div class="manufacturers" >

<button type="button" name="button" ui-sref="main.manufacturer.new" >Add new manufacturer</button>

<ol class="ordered-list">
    <li ng-repeat="manufacturer in manufacturers.manufacturers track by $index" >
        <div class="manufacturer"  ng-click="manufacturers.getManufacturer(manufacturer.id); manufacturer.getManufacturerById(manufacturer.id)">
            <h2>Name: <span>{{ manufacturer.name }}</span></h2>
            <!-- <h3>Id: <span>{{ manufacturer.id }}</span></h3> -->
            <!-- <h3>Phone: <span>{{ manufacturer.phone }}</span></h3>
            <h3>Email: <span>{{ manufacturer.email }}</span></h3>
            <h3>Address: <span>{{ manufacturer.address }}</span></h3> -->
            <hr>
        </div>

        <div class="buttons">
            <span ng-click="manufacturers.getManufacturer(manufacturer.id, manufacturer.name); manufacturer.getManufacturerById(manufacturer.id, manufacturer.name)">view more</span> |

        <!--  -->
            <span ng-click="manufacturers.editManufacturer(manufacturer.id)">edit</span> |
            <span ng-click="manufacturers.deleteManufacturer(manufacturer.id, $index)">delete</span>
        </div>
        <hr>
    </li>


</ol>

</div>
<ui-view></ui-view>
