<h1>Product's details: </h1>
<div class="products detail">

    <h2>Name: <span>{{ product.product.name }}</span></h2>
    <h3>Id: <span>{{ product.product.id }}</span></h3>
    <h3>Type: <span>{{ product.product.type }}</span></h3>
    <h3>TTN: <span>{{ product.product.ttn }}</span></h3>
    <h3>Manufacturer: <span>{{ product.product.producator }}</span></h3>
    <h3>Description: <span>{{ product.product.description }}</span></h3>
    <br>
    <br>

    <button type="button" name="button" ng-click="product.editDetailProduct(product.product.id)">edit product</button>

    <button ui-sref="main.products">back to products</button>

    <div class="">
        <ui-view></ui-view>
    </div>
</div>
