<div class="productForm">

<h1><span ng-if="product.isAddMode()">Add</span> <span ng-if="product.isEditMode()">Edit</span> your product:</h1>
    <form name="productsForm" method="post" ng-submit="product.saveProduct(product.id)" novalidate>


        <input type="text" name="name" value="" placeholder="Product name" ng-model="product.product.name" required>
        <br>
        <input type="text" name="type" value="" placeholder="Product type" ng-model="product.product.type" required>
        <br>
        <input type="text" name="ttn" value="" placeholder="Product TTN" ng-model="product.product.ttn" required>
        <br>
        <input type="text" name="manufacturer" value="" placeholder="Product Manufacturer" ng-model="product.product.producator" required>
        <br>
        <input type="text" name="description" value="" placeholder="Product Description" ng-model="product.product.description" required>

    <br>

    <br>



    <button type="submit" name="name" value="save changes"  ng-disabled="productsForms.$invalid ">Save product</button>

     <button ng-if="product.isEditMode()" ui-sref="main.product.detail">Cancel</button>
     <button ng-if="product.isAddMode()" ui-sref="main.products">Cancel</button>

    </form>

</div>
