<div class="products">

    <!-- <button type="button" name="button" ui-sref="main.product.add" >Add new product</button> -->

    <h1>Complete list of your products:</h1>

    <ol class="ordered-list">
        <li ng-repeat="product in products.productList track by $index">
            <div class="product" ng-click="products.getProduct(product.id); product.getProductById(product.id)">
                <h2>Name: <span>{{ product.name }}</span></h2>
                <!-- <h3>Id: <span>{{ product.id }}</span></h3> -->
                <h3>Type: <span>{{ product.type }}</span></h3>
                <h3>Manufacturer: <span>{{ product.producator }}</span></h3>

                <!-- <h3>TTN: <span>{{ product.ttn }}</span></h3> -->
                <!-- <h3>Description: <span>{{ product.description }}</span></h3> -->

                <hr>
            </div>

            <div class="buttons">
                <span ng-click="products.getProduct(product.id); product.getproductById(product.id)">view more</span> |

                <span ng-click="products.editProduct(product.id)">edit</span> |
                <span ng-click="products.deleteProduct(product.id, $index)">delete</span>
            </div>
            <hr>
        </li>

    </ol>

</div>
<ui-view></ui-view>
